/* images and overlay start */

@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lobster|Playfair+Display&display=swap');
.bgcolor{
   background-color:  rgba(30, 30, 117, 0.9);

}
.con{
    background-color:  rgba(30, 30, 117, 0.9);
}
.stylefonta{
    font-family: 'Crimson Text', serif;
}

.conn{
    border-radius: 7px;
    background-color:  rgba(30, 30, 117, 0.9);
}

body{margin:0;
    padding: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    
    }
  
  
    
    
    
    
   
    
    
    
    
    
    
     /* start of desktop styles */
    
     
/* image and over end */

.conrad{
    border-radius: 8px;
}

.uprad{
    border-radius: 8px;
    border-width: 10px;
    border-color: white;
    border-style: solid;
}
.navrad{
    border-radius: 7px;
}