@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Lobster|Playfair+Display&display=swap');
.bgcolor{
   background-color:  rgba(30, 30, 117, 0.9);
}
.con{
    background-color:  rgba(30, 30, 117, 0.9);
}
.stylefonta{
    font-family: 'Crimson Text', serif;
}